.sign-in {
  padding: 15px;
}

.sign-in .sign-in__control,
.sign-in .sign-in__submit {
  width: 100%;
  max-width: 260px;
}

.sign-in .sign-in__title {
  color: gray;
}

.sign-in .sign-in__submit {
  padding: 8px 15px;
}

.sign-in .sign-in__content > *:not(:last-child) {
  margin-bottom: 10px;
}