.categories-list {
  position: relative;
  margin: 20px;
  display: flex;
  overflow-x: auto;
}

.categories-list.categories-list--grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 1px;
}

.categories-list .category {
  flex-shrink: 0;
}