.categories-list {
  position: relative;
  margin: 20px;
  display: flex;
  grid-gap: 1px;
  background-color: black;
  box-shadow: 0 0px 10px 4px lightgray;
  overflow-x: auto;
}

.categories-list .category {
  flex-shrink: 0;
}