.product {
  transition: .3s height;
  border-radius: 25px;
  background-color: white;
  overflow: hidden;
  height: 180px;
  width: 180px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
}

.product:hover {
  height: 230px;
}

.product .product__presentation {
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.product .product__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product .product__content {
  padding: 15px;
}

.product .product__price {
  margin-top: 0;
}

.product .product__name {
  color: gray;
  margin-bottom: 0;
}