.product {
  box-shadow: 0 0px 10px 4px lightgray;
  background-color: white;
  min-width: 240px;
  max-height: 300px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  border-radius: 25px;
}

.product .product__presentation {
  position: relative;
  height: 200px;
  transition: .5s background-color;
}

.product .product__presentation:hover {
  background-color: rgba(0, 0, 0, .4);
}

.product .product__presentation:hover .button {
  opacity: 1;
}

.product .product__presentation .button {
  opacity: 0;
}

.product .product__presentation-controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.product__presentation-control {
  background-color: white;
  color: black;
  border-color: gray;
}

.product .product__images {
  transition: .5s;
  display: flex;
  height: 100%;
}

.product .product__image {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product__image img {
  height: 100%;
  object-fit: cover;
}

.product .product__presentation .product__toggle-favorite {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  opacity: 1;
  color: rgb(var(--primary-color))
}

.product .product__presentation .product__toggle-favorite:hover {
  color: white;
}


.product .product__content {
  position: relative;
  height: 100%;
  padding: 20px;
  flex-grow: 1;
  border-top: 1px solid lightgray;
}

.product .product__price {
  position: absolute;
  top: 4px;
  right: 20px;
  color: rgb(var(--primary-color));
  font-weight: bold;
}

.product .product__buy {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.product .product__description {
  width: 200px;
  color: gray;
}