.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(var(--primary-color));
  padding: 15px;
}

.main-header .logo {
  margin-right: .80rem;  
}

.main-header .main-header__options {
  margin-left: auto;
  border-left: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}