.main-header {
  position: fixed;
  left: 0; right: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(var(--primary-color));
  padding: 15px;
  z-index: 1000;
  background-color: beige;
}

.main-header .logo {
  margin-right: .80rem;  
}

.main-header .main-header__options {
  margin-left: auto;
  border-left: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.main-header .main-header__option,
.main-header .main-header__option:hover {
  border: none;
  background: none;
}

.main-header .main-header__option:hover {
  color: rgb(var(--primary-color));
}


.main-header .main-header__option.main-header__option--actived {
  color: rgb(var(--primary-color))
}