.search-bar {
  transition: .5s;
}

.search-bar .search-bar__control {
  transition: .5s border-color;
  border-radius: 25px;
  border: 1px solid lightgray;
  padding: 8px 15px;
  display: inline-block;
  width: 100%;
}

.search-bar .search-bar__container {
  transition: .5s;
  position: fixed;
  z-index: 100;
  top: -100vh;
  left: 25px;
  right: 25px;
  display: flex;
}

.search-bar .search-bar__container--actived {
  top: 75px;
}

.search-bar .search-bar__submit {
  margin-left: 8px;
  flex-shrink: 0;
  background-color: white;
}

.search-bar .search-bar__submit:focus {
  flex-shrink: 0;
  background-color: white;
  border-color: rgb(var(--primary-color));
  background-color: rgb(var(--primary-color));
}

.search-bar .search-bar__control:focus + .search-bar__submit {
  color: white;
}

.search-bar .search-bar__control:focus {
  border-color: rgb(var(--primary-color));
}

.search-bar .search-bar__control:focus + .search-bar__submit {
  border-color: rgb(var(--primary-color));
  background-color: rgb(var(--primary-color));
}

.search-bar .search-bar__submit:hover {
  background-color: rgb(var(--primary-color));
}

@media (min-width: 720px) {
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar .search-bar__container {
    position: static;
  }

  .search-bar {
    margin-left: 8px;
  }

  .search-bar .search-bar__submit.search-bar__submit--mobile {
    display: none;
  }

  .search-bar .search-bar__submit {
    display: inline-block;
  }
}