.search-bar {
  transition: .25s;
}

.search-bar .search-bar__control {
  width: 100%;
}

.search-bar .search-bar__control:hover + .search-bar__submit,
.search-bar .search-bar__control:focus + .search-bar__submit {
  border-color: rgb(var(--primary-color));
  background-color: rgb(var(--primary-color));
  color: white;
}

.search-bar .search-bar__container {
  transition: .25s;
  position: fixed;
  z-index: 100;
  top: -10vh;
  left: 25px;
  right: 25px;
  display: flex;
}

.search-bar .search-bar__container--actived {
  top: 75px;
}

.search-bar .search-bar__submit {
  margin-left: 8px;
  flex-shrink: 0;
  background-color: white;
}

@media (min-width: 720px) {
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar .search-bar__container {
    position: static;
  }

  .search-bar {
    margin-left: 8px;
  }

  .search-bar .search-bar__submit.search-bar__submit--mobile {
    display: none;
  }

  .search-bar .search-bar__submit {
    display: inline-block;
  }
}