:root {
  --primary-color: 255, 85, 170;
}

body {
  background-color: beige;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a, a[href] {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

menu, nav, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}