.banner .banner__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  padding: 3rem;
}

@media (min-width: 720px) {
  .banner .banner__slide {
    justify-content: flex-start;
    padding-left: 5rem;
  }
} 