.slider {
  position: relative;
  overflow-x: hidden;
}

.slider .slider__slides {
  transition: .5s transform;
  display: flex;
}

.slider .slider__slide {
  min-width: 100%;
  text-align: center;
}

.slider .slider__controls {
  transition: .5s opacity;
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

.slider:hover .slider__controls {
  opacity: 1;
}

.slider .slider__control {
  background-color: white;
}

.slider .slider__control:hover, .slider .slider__control:focus {
  background-color: rgb(var(--primary-color));
}